<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatting</title>




    <script src="../static/javaScript/angular.min.js"></script>
    <script src="../static/javaScript/jquery.min.js"></script>
    <script src="../static/javaScript/bootstrap.min.js"></script>

   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='library/jquery.min.js') }}"/> -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
   <!-- <script rel="script" src="{{ url_for('static', filename='javaScript/app.js') }}"/>-->
    <script src="../static/javaScript/app.js"></script>



</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>